<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= vehicle.serial_number %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= vehicle.purchase_price %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= vehicle.purchase_date %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= vehicle.owner_id %>
  </p>

</div>
